body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.sidebar h2 {
    margin-bottom: 20px;
    color: #333;
}

.sidebar ul {
    list-style: none;
    
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar ul li a:hover {
    color: #4CAF50;
}

main {
    padding: 20px;
    flex: 1;
}

h2 {
    margin-bottom: 15px;
    color: #007BFF;
}

section {
    margin-bottom: 20px;
}

code {
    display: block;
    background: #eee;
    padding: 10px;
    border-left: 4px solid #4CAF50;
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #f1f1f1;
    position: relative;
    bottom: 0;
    width: 100%;
}